<?xml version="1.0" encoding="UTF-8"?>
<!--<widget xmlns	= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		    = "com.dellardavies.ttc"
	CFBundleVersion = "3.0.0"
	version 	= "3.0.0">-->
	
	
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id = "com.dellardavies.ttc"
        version = "4.0.1">

	<name>TTC</name>

	<description>
The Travel Convention is the UK's largest and most significant annual event for senior travel industry professionals, organised by ABTA - The UK's leading travel association. This handy App gives you everything you will need for the 2014 Convention, schedule times, session information, places, sponsor list and more...	</description>

	<author href="http://thetravelconvention.com" email="support@thetravelconvention.com">
		Colin Miller
	</author>
	
	<icon src="icons/icon.png" width="57" height="57" />
	
	<platform name="ios">
              <!-- iOS 7.0+ -->
              <!-- iPhone / iPod Touch  -->
              <icon src="icons/icon-60.png" width="60" height="60" />
              <icon src="icons/icon-60@2x.png" width="120" height="120" />
              <!-- iPad -->
              <icon src="icons/icon-76.png" width="76" height="76" />
              <icon src="icons/icon-76@2x.png" width="152" height="152" />
              <!-- iOS 6.1 -->
              <!-- Spotlight Icon -->
              <icon src="icons/icon-40.png" width="40" height="40" />
              <icon src="icons/icon-40@2x.png" width="80" height="80" />
              <!-- iPhone / iPod Touch -->
              <icon src="icons/icon.png" width="57" height="57" />
              <icon src="icons/icon@2x.png" width="114" height="114" />
              <!-- iPad -->
              <icon src="icons/icon-72.png" width="72" height="72" />
              <icon src="icons/icon-72@2x.png" width="144" height="144" />
              <!-- iPhone Spotlight and Settings Icon -->
              <icon src="icons/icon-small.png" width="29" height="29" />
              <icon src="icons/icon-small@2x.png" width="58" height="58" />
              <!-- iPad Spotlight and Settings Icon -->
              <icon src="icons/icon-50.png" width="50" height="50" />
              <icon src="icons/icon-50@2x.png" width="100" height="100" />
     </platform>
	 
	 <platform name="android">
              <icon src="icons/android/ldpi.png" density="ldpi" />
              <icon src="icons/android/mdpi.png" density="mdpi" />
              <icon src="icons/android/hdpi.png" density="hdpi" />
              <icon src="icons/android/xhdpi.png" density="xhdpi" />
     </platform>

<platform name="winphone">
              <icon src="icons/windows7/ApplicationIcon.png" width="62" height="62" />
              <icon src="icons/Background.png" width="173" height="173" />
     </platform>

<platform name="win8">
              <icon src="icons/windows8/ApplicationIcon.png" width="99" height="99" />
              <icon src="icons/Background.png" width="159" height="159" />
     </platform>
  	
 
	<gap:splash src="Default.png" gap:platform="ios" width="320" height="480" />
	<gap:splash src="Default-@2x.png" gap:platform="ios" width="640" height="960" />
	<gap:splash src="Default-568h@2x.png" gap:platform="ios" width="640" height="1136" />
	<gap:splash src="Default-Portrait.png" gap:platform="ios" width="768" height="1004" />
	<gap:splash src="Default-Portrait@2x.png" gap:platform="ios" width="1536" height="2008" />
	<gap:splash src="ldpi.png" gap:platform="android" gap:qualifier="ldpi" />
	<gap:splash src="mdpi.png" gap:platform="android" gap:qualifier="mdpi" />
	<gap:splash src="hdpi.png" gap:platform="android" gap:qualifier="hdpi" />
	<gap:splash src="xhdpi.png" gap:platform="android" gap:qualifier="xhdpi" />
	<gap:splash src="768x1280_splash_windows.jpg" gap:platform="winphone" />
	
	<preference name="show-splash-screen-spinner" value="true" />

	<preference name="orientation" value="portrait" />
	
	<preference name="DisallowOverscroll" value="true" />
	
	<gap:plugin name="org.apache.cordova.inappbrowser" />
	
	<gap:plugin name="de.appplant.cordova.plugin.hidden-statusbar-overlay" version="1.2.0" />
	
	
	
	<access origin="*" />
</widget>