<?xml version="1.0" encoding="UTF-8"?>
<!--<widget xmlns	= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		    = "com.dellardavies.ttc"
	CFBundleVersion = "3.0.0"
	version 	= "3.0.0">-->
	
	
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id = "com.dellardavies.ttc"
        version = "4.0.0">

	<name>TTC</name>

	<description>
The Travel Convention is the UK's largest and most significant annual event for senior travel industry professionals, organised by ABTA - The UK's leading travel association. This handy App gives you everything you will need for the 2014 Convention, schedule times, session information, places, sponsor list and more...	</description>

	<author href="http://thetravelconvention.com" email="support@thetravelconvention.com">
		Colin Miller
	</author>
	<icon src="icon36x36.png" width="36" height="36" />
  	<icon src="icon48x48.png" width="48" height="48" />
	<icon src="icon57x57.png" width="57" height="57" />
	<icon src="icon72x72.png" width="72" height="72" />
	<icon src="icon114x114.png" width="114" height="114" />

  	<gap:splash src="launch320x480.png" />
  	<gap:splash src="launch320x480.png" width="320" height="480" />
	<gap:splash src="launch640x960.png" width="640" height="960" />
	<gap:splash src="launch640x1136.png" width="640" height="1136" />
	<gap:splash src="launch768x1004.png" width="768" height="1004" />
	<gap:splash src="launch748x1024.png" width="748" height="1024" />
	
	<preference name="show-splash-screen-spinner" value="true" />
	<preference name="stay-in-webview" value="false" />
	<preference name="orientation" value="portrait" />
	<access origin="*" />
	<gap:plugin name="org.tt.inappbrowser" version="4" />
    <!--<plugin name="InAppBrowser" value="org.apache.cordova.InAppBrowser" />
	<plugin name="InAppBrowser" value="CDVInAppBrowser" />-->
	<gap:plugin name="de.appplant.cordova.plugin.hidden-statusbar-overlay" version="1.2.0" />
	
	<!--<preference name="phonegap-version" value="2.9.0" />-->
</widget>