* {
	margin: 0;
	padding: 0;
}

.red {
	color: #b80f28;
}
.blue {
	color: #14848e;
}
.green {
	color: #71b506;
}
ul {
	margin: 10px;
	padding: 10px;
}
li {
	margin-bottom: 7px;
}
p, h1, h2, h3 {
	margin-bottom: 10px;
}
#sponsor_detail .descriptive_text h3 {
	margin: 0px 0px 10px 0px;
}
	
#home, #schedulemenu, #session_list,  #twitter_page, #contact_page,
#contact_message_page, #qanda_desk, #day1, #day2, #day3, #day4 {
	background: url(../site_images/iphone5_background.png) no-repeat left top;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#home, #app_sponsor, #contact_page, #contact_message_page, #abta_detail, #sponsor_detail {
	text-align:center;
}

.day1_time {
font-weight: bold;
color: #FFF;
background-color: #489598;
padding: 10px;
}
.day1Title {
padding: 0px;
margin-bottom: 0px;
border: 1px solid #489598;
color: #489598;
background-color: #FFF;
padding: 0px 8px;
}

.day2_time {
font-weight: bold;
color: #FFF;
background-color: #9A1129;
padding: 10px;
}
.day2Title {
padding: 0px;
margin-bottom: 0px;
border: 1px solid #9A1129;
color: #9A1129;
background-color: #FFF;
padding: 0px 8px;
}
.day3_time {
font-weight: bold;
color: #FFF;
background-color: #71B506;
padding: 10px;
}
.day3Title {
padding: 0px;
margin-bottom: 0px;
border: 1px solid #71B506;
color: #71B506;
background-color: #FFF;
padding: 0px 8px;
} 
.day4_time {
font-weight: bold;
color: #FFF;
background-color: #BEAF7C;
padding: 10px;
}
.day4Title {
padding: 0px;
margin-bottom: 0px;
border: 1px solid #BEAF7C;
color: #BEAF7C;
background-color: #FFF;
padding: 0px 8px;
}
.top_detail img {
	float: left;
	margin: 0px 15px 0px 0px;
}
.top_detail {
	-moz-box-shadow: 3px 3px 10px #666;
	-webkit-box-shadow: 3px 3px 10px #666;
	box-shadow: 3px 3px 10px #666;
	background-color: #FFF;
	border: 1px solid #999;
	font-size: 10px;
	position: relative;
	width: 100%;
	padding: 15px 15px 20px 15px;
}

#sponsor_detail .top_detail {
	min-height: 75px;
	padding-bottom: 15px;
}
#sponsor_detail .top_detail img, #app_sponsor .top_detail img, #abta_detail .top_detail img  {
	float: none;
	margin: 0px 0px 0px -30px;
	}
.top_detail h1 {
	color: #b80f28;
	font-size: 20px;
	padding: 0;
	margin: 0;
}
#hotel_detail .top_detail h1 {
	color: #14848e;
	font-size: 20px;
}
#sponsor_detail .top_detail h1 {
	color: #71b506;
	font-size: 20px;
}
#app_sponsor .top_detail, #app_sponsor .top_detail img {
	margin: 0;
	padding: 0;
/*	border: none;*/
	display: block;
}
#speaker_detail .ui-content, #sponsor_detail .ui-content, #hotel_detail .ui-content, #plenary_detail .ui-content, #plenary_speaker_detail .ui-content, #specialist_detail .ui-content, #specialist_speaker_detail .ui-content, #discussion_detail .ui-content, #discussion_speaker_detail .ui-content, #forum_detail .ui-content, #forum_speaker_detail .ui-content, #app_sponsor .ui-content, #abta_detail .ui-content  {
	margin: 0;
	padding: 0;
}
#plenary_speaker_detail .top_detail {
	min-height: 95px;
}
#day1 .ui-content, #day2 .ui-content, #day3 .ui-content, #day4 .ui-content {
	padding: 0px;
}

.descriptive_text {
	padding: 15px;
	text-align: left;
}

.contactlink a:link, .contactlink a:visited, .contactlink a:hover, .contactlink a:active,
.weblink a:link, .weblink a:visited, .weblink a:hover, .weblink a:active  {
	text-decoration: none;
	display: block;
	border: 1px solid #999;
	padding: 10px;
	background-color: #FFF;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	color: #666 !important;
	-webkit-border-radius:1em;
	-moz-border-radius:1em;
	border-radius:1em;
}
p.weblink {
	margin: 10px 0px 10px 0px;
}
.link_button {
	margin: 5px auto 0 auto;
	text-align: left;
}
.link_button p {
	margin: 5px 0px 0px 0px;
}
.SpryHiddenRegion {
visibility: hidden;
}

#menu_items {
width: 100%;
height: 100%;
text-align: center;
}
#menu_items img {
	width: 100%;
	height: auto;
	display:block;
}
#menu_items table {
	width: 100%;
	margin: 0 auto;
	margin-top: 40px;
}
#menu_items table td {
	padding: 2px;
}
#app_sponsor_logo {
	  position:absolute;
	  width:100%;
	  height:auto;
	  bottom: 0px;
}
#app_sponsor_logo img {
	display: block;
}
#home, #schedulemenu, #session_list, #contact_page {
	position: relative;
}
.ui-header .ui-title {
	/*font-size: 22px;
	margin: .4em 90px .6em;*/
}
#qanda_desk .ui-content {
	padding: 0 5%;
}
#qanda_desk form label {
	color: #ffffff;
}
#jscriptmessage {
	margin: 15px;
	border: 1px solid #FFF;
	padding: 10px;
}
.noscriptmsg {
	font-family: Arial, Helvetica, sans-serif;
	color: #FFF;
	background-image: url(../site_images/iphone5_background.png);
	background-repeat: no-repeat;
	text-align: center;
	vertical-align: middle;
	height: 100%;
	width: 100%;
	left: 0px;
	top: 0px;
	position: absolute;
	margin: 0px;
	padding-top: 50px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
}
.sponsor_image {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	height: 100px;
	width: 100%;
}
ul.ui-listview + p.sponsor_image {
	margin-top: 30px;
}
ul.ui-listview[data-inset="true"] + p.sponsor_image {
	margin-top: 10px;
}
.sponsor_hompeage {
	margin-top: 0px;
	background-image: url(../site_images/appsponsor.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 90px;
	width: 100%;
	position: absolute;
	top: 320px;
}


.portrait, .portrait .ui-page,
  .landscape, .landscape .ui-page {
	  min-height: 100%;
  }
  
#blocked {
	display: none;
}

#logo_container {
	width: 50%;
	margin: 0px auto;
}
#logo_container img {
	width: 100%;
	height: auto;
	margin-top: 20px;
}

div[data-role=header] a.ui-corner-all, div[data-role=content] a.ui-corner-all {
	-webkit-border-radius:1em !important;
	-moz-border-radius:1em !important;
	border-radius:1em !important;
}
	
#search_area form {
	background-color: #f9f9f9;
}
#delegate_page div[data-role=content]{
	margin-top: 0 !important;
	padding-top: 0 !important;
}
#delegate_page div.elements {
	/*margin-top: 3em;*/
}
@media only screen and (min-width: 768px) { 
#home, #schedulemenu, #session_list, #twitter_page, #contact_page,
#contact_message_page, #qanda_desk, #day1, #day2, #day3, #day4
{
  background: url(../site_images/ipad_background.png) no-repeat left top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}
#menu_items table {
	margin-top: 80px;
	width:70%
}
#menu_items table td {
	padding: 10px;
}
#logo_container {
	width: 30%;
	margin: 0 auto;
}
div[data-role=content] {
	line-height: 1.5em;
}
}


body, html {
	height: 100%;
}

.delegatelist {
	padding-top: 7px;
	padding-bottom: 14px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
}
.delegatelist a:link, .delegatelist a:visited, .delegatelist a:hover, .delegatelist a:active {
	text-decoration: none;
	font-weight: normal;
}

#delegate_listview {
	margin: 0px;
	padding: 0px;	/*display: none;*/
}
#message {
	display: none;
}
#theform {
	margin-top: 15px;
	display: none;
}
#message h1 {
	font-size: 16px;
	font-weight: bold;
	color: #F00;
}

#attendee_sponsor {
	margin-top: 15px;
	margin-bottom: 20px;
}

#search_area {
	margin: 0px;
	padding: 0px;
}

#attendee_sponsor {
	font-size: 13px;
	color: #666;
	background-color: #CCC;
	padding: 10px;
	border: 1px solid #666;
}