/*-- for scraped pages --*/
p {
	padding: 0px 20px 0px 15px;
}
ol, ul, li {
	padding: 0px 20px 0px 15px;
	margin: 0px 20px 0px 15px;
}

hr {
	border: 0;
	border-top: 1px solid #d6d6d4;
	margin: 10px 0px 
}


table {
	width:90% !important;
	margin: 10px 10px;
} 

h1:first-child {
	display: none;
}


